In [5]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import seaborn as sns
import requests
import time
from scipy.stats import linregress

from api_keys import weather_api_key
from api_keys import g_key
#from api_keys import covid_key

from citipy import citipy

output_data_File = 'output/test1'

lat_range = (-90, 90)
lng_range = (-180, 180)

In [6]:
covid_data = pd.read_csv('../raw_data/time_series_covid19_confirmed_global.csv')
covid_data.head()

#("../Resources/crime_data.csv")
#city_data_df = pd.read_csv('output_data/cities.csv')

#time_series_covid19_confirmed_global.csv
#time_series_covid19_confirmed_global.csv

,Province/State,Country/Region,Lat,Long,1/22/20,1/23/20,1/24/20,1/25/20,1/26/20,1/27/20,...,3/24/20,3/25/20,3/26/20,3/27/20,3/28/20,3/29/20,3/30/20,3/31/20,4/1/20,4/2/20
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,74,84,94,110,110,120,170,174,237,273
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,123,146,174,186,197,212,223,243,259,277
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,264,302,367,409,454,511,584,716,847,986
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,164,188,224,267,308,334,370,376,390,428
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,3,3,4,4,5,7,7,7,8,8